In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [55]:
data = pd.read_csv("fraudTrain.csv")
data

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [56]:
cat_data = data.select_dtypes(include = ['object'])
cat_data

,trans_date_trans_time,merchant,category,first,last,gender,street,city,state,job,dob,trans_num
0,2019-01-01 00:00:18,"fraud_Rippin, Kub and Mann",misc_net,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9
1,2019-01-01 00:00:44,"fraud_Heller, Gutmann and Zieme",grocery_pos,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99
2,2019-01-01 00:00:51,fraud_Lind-Buckridge,entertainment,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95
3,2019-01-01 00:01:16,"fraud_Kutch, Hermiston and Farrell",gas_transport,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81
4,2019-01-01 00:03:06,fraud_Keeling-Crist,misc_pos,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46
...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,2020-06-21 12:12:08,fraud_Reichel Inc,entertainment,Erik,Patterson,M,162 Jessica Row Apt. 072,Hatch,UT,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669
1296671,2020-06-21 12:12:19,fraud_Abernathy and Sons,food_dining,Jeffrey,White,M,8617 Holmes Terrace Suite 651,Tuscarora,MD,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a
1296672,2020-06-21 12:12:32,fraud_Stiedemann Ltd,food_dining,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,High Rolls Mountain Park,NM,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c
1296673,2020-06-21 12:13:36,"fraud_Reinger, Weissnat and Strosin",food_dining,Joseph,Murray,M,42933 Ryan Underpass,Manderson,SD,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83
1296674,2020-06-21 12:13:37,"fraud_Langosh, Wintheiser and Hyatt",food_dining,Jeffrey,Smith,M,135 Joseph Mountains,Sula,MT,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9

12 Columns in total

In [57]:
num_data = data.select_dtypes(include = ['int','float'])
num_data

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,0,2703186189652095,4.97,28654,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315,0
1,1,630423337322,107.23,99160,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,0
2,2,38859492057661,220.11,83252,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481,0
3,3,3534093764340240,45.00,59632,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071,0
4,4,375534208663984,41.96,24433,38.4207,-79.4629,99,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,30263540414123,15.56,84735,37.7175,-112.4777,258,1371816728,36.841266,-111.690765,0
1296671,1296671,6011149206456997,51.70,21790,39.2667,-77.5101,100,1371816739,38.906881,-78.246528,0
1296672,1296672,3514865930894695,105.93,88325,32.9396,-105.8189,899,1371816752,33.619513,-105.130529,0
1296673,1296673,2720012583106919,74.90,57756,43.3526,-102.5411,1126,1371816816,42.788940,-103.241160,0
1296674,1296674,4292902571056973207,4.30,59871,45.8433,-113.8748,218,1371816817,46.565983,-114.186110,0

In [58]:
len(data.columns)

23

In [59]:
data.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [60]:
corr = num_data.corr()
corr

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
Unnamed: 0,1.000000,0.000386,-0.000251,0.000709,0.000602,-0.000676,-0.001678,0.998971,0.000541,-0.000671,-0.004767
cc_num,0.000386,1.000000,0.001769,0.041459,-0.059271,-0.048278,-0.008991,0.000354,-0.058942,-0.048252,-0.000981
amt,-0.000251,0.001769,1.000000,0.001843,-0.001926,-0.000187,0.005818,-0.000293,-0.001873,-0.000151,0.219404
zip,0.000709,0.041459,0.001843,1.000000,-0.114290,-0.909732,0.078467,0.000670,-0.113561,-0.908924,-0.002162
lat,0.000602,-0.059271,-0.001926,-0.114290,1.000000,-0.015533,-0.155730,0.000632,0.993592,-0.015509,0.001894
long,-0.000676,-0.048278,-0.000187,-0.909732,-0.015533,1.000000,-0.052715,-0.000642,-0.015452,0.999120,0.001721
city_pop,-0.001678,-0.008991,0.005818,0.078467,-0.155730,-0.052715,1.000000,-0.001714,-0.154781,-0.052687,0.002136
unix_time,0.998971,0.000354,-0.000293,0.000670,0.000632,-0.000642,-0.001714,1.000000,0.000561,-0.000635,-0.005078
merch_lat,0.000541,-0.058942,-0.001873,-0.113561,0.993592,-0.015452,-0.154781,0.000561,1.000000,-0.015431,0.001741
merch_long,-0.000671,-0.048252,-0.000151,-0.908924,-0.015509,0.999120,-0.052687,-0.000635,-0.015431,1.000000,0.001721
is_fraud,-0.004767,-0.000981,0.219404,-0.002162,0.001894,0.001721,0.002136,-0.005078,0.001741,0.001721,1.000000

In [61]:
cat_data.nunique()

trans_date_trans_time    1274791
merchant                     693
category                      14
first                        352
last                         481
gender                         2
street                       983
city                         894
state                         51
job                          494
dob                          968
trans_num                1296675
dtype: int64

In [62]:
low_card_cat_col = cat_data.nunique()[cat_data.nunique()<53]
low_card_cat_col

category    14
gender       2
state       51
dtype: int64

Low Cardinality columns can be converted to Numerical using One-hot Encoding because it's fine if there are not many nunique value

In [63]:
high_card_cat_col = cat_data.nunique()[cat_data.nunique()>52]
high_card_cat_col

trans_date_trans_time    1274791
merchant                     693
first                        352
last                         481
street                       983
city                         894
job                          494
dob                          968
trans_num                1296675
dtype: int64

trans_date_trans_time --> Can be converted to date,hour,month,etc

merchant is the name

first,last is also the name

street,city is also the name

job --> important factor?ig

dob --> age

trans_num -->id it can be dropped

In [64]:
data.drop(columns = 'trans_num')

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,zip,lat,long,city_pop,job,dob,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,84735,37.7175,-112.4777,258,Geoscientist,1961-11-24,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,21790,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,88325,32.9396,-105.8189,899,Naval architect,1967-08-30,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,57756,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,59871,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,1371816817,46.565983,-114.186110,0

In [65]:
data['merchant'].value_counts(normalize = True)

merchant
fraud_Kilback LLC                       0.003396
fraud_Cormier LLC                       0.002814
fraud_Schumm PLC                        0.002803
fraud_Kuhn LLC                          0.002707
fraud_Boyer PLC                         0.002694
                                          ...
fraud_Douglas, DuBuque and McKenzie     0.000598
fraud_Treutel-King                      0.000598
fraud_Medhurst, Labadie and Gottlieb    0.000585
fraud_Reichert-Weissnat                 0.000581
fraud_Hahn, Douglas and Schowalter      0.000561
Name: proportion, Length: 693, dtype: float64

Trans_date_trans_time

In [66]:
data['trans_date_trans_time'] = pd.to_datetime(data['trans_date_trans_time'])
data['trans_hour'] = data['trans_date_trans_time'].dt.hour
data['trans_dayofweek'] = data['trans_date_trans_time'].dt.dayofweek
data['trans_month'] = data['trans_date_trans_time'].dt.month
data['is_night'] = ((data['trans_hour'] >= 22) | (data['trans_hour'] <= 5)).astype(int)

In [67]:
data['dob'] = pd.to_datetime(data['dob'])
data['age '] = (data['trans_date_trans_time'] - data['dob']).dt.days // 365

In [68]:
data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,trans_num,unix_time,merch_lat,merch_long,is_fraud,trans_hour,trans_dayofweek,trans_month,is_night,age
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,0,1,1,1,30
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,0,1,1,1,40
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,0,1,1,1,56
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,0,1,1,1,52
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,0,1,1,1,32

In [69]:
to_drop_cols = ['Unnamed: 0','first','last','street','trans_date_trans_time','dob']
data = data.drop(columns = to_drop_cols)

In [70]:
data.head()

,cc_num,merchant,category,amt,gender,city,state,zip,lat,long,...,trans_num,unix_time,merch_lat,merch_long,is_fraud,trans_hour,trans_dayofweek,trans_month,is_night,age
0,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,Moravian Falls,NC,28654,36.0788,-81.1781,...,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,0,1,1,1,30
1,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,99160,48.8878,-118.2105,...,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,0,1,1,1,40
2,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,Malad City,ID,83252,42.1808,-112.2620,...,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,0,1,1,1,56
3,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,Boulder,MT,59632,46.2306,-112.1138,...,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,0,1,1,1,52
4,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,M,Doe Hill,VA,24433,38.4207,-79.4629,...,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,0,1,1,1,32

In [71]:
from sklearn.model_selection import KFold

def target_encode_kflod(train_data,test_data,target = 'is_fraud',n_splits = 5,smoothing = 20,random_state = 42):
    global_mean = tran_data['target'].mean()
    kf = KFold(n_splits = n_splits,shuffle = True,random_state = random_state)
    train_encoded = pd.Series(index = train_data.index,dtype = float)
    
    for train_idx,val_idx in kf.split(train_data):
        tr,val = train_data.iloc[train_idx],train_data.iloc[val_idx]
        stats = tr.groupby(col)[target].agg(['mean','count'])
        
        smooth = (stats['count'] * stats['mean'] + smoothing * global_mean) / (stats['count'] + smoothing)
        train_encoded.iloc[val_idx] = val[col].map(smooth).fillna(global_mean)
        
        stats_full = train_df.groupby(col)[target].agg(['mean', 'count'])
        smooth_full = (stats_full['count'] * stats_full['mean'] + smoothing * global_mean) / (stats_full['count'] + smoothing)

        test_encoded = test_df[col].map(smooth_full).fillna(global_mean)

        return train_encoded, test_encoded

In [72]:
high_card = data.nunique()[data.nunique()>1]
print(high_card)

cc_num                 983
merchant               693
category                14
amt                  52928
gender                   2
city                   894
state                   51
zip                    970
lat                    968
long                   969
city_pop               879
job                    494
trans_num          1296675
unix_time          1274823
merch_lat          1247805
merch_long         1275745
is_fraud                 2
trans_hour              24
trans_dayofweek          7
trans_month             12
is_night                 2
age                     83
dtype: int64

In [73]:
len(high_card)

22

In [74]:
data.columns

Index(['cc_num', 'merchant', 'category', 'amt', 'gender', 'city', 'state',
       'zip', 'lat', 'long', 'city_pop', 'job', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud', 'trans_hour', 'trans_dayofweek',
       'trans_month', 'is_night', 'age '],
      dtype='object')

In [75]:
data.drop(columns = ['trans_num'],inplace = True)

UNIX --> tells us the seconds of the exact moment an authorization or transaction happend in non elapsed seconds from 1970 ig

In [76]:
len(data.columns)

21

In [77]:
data.head()

,cc_num,merchant,category,amt,gender,city,state,zip,lat,long,...,job,unix_time,merch_lat,merch_long,is_fraud,trans_hour,trans_dayofweek,trans_month,is_night,age
0,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,Moravian Falls,NC,28654,36.0788,-81.1781,...,"Psychologist, counselling",1325376018,36.011293,-82.048315,0,0,1,1,1,30
1,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,99160,48.8878,-118.2105,...,Special educational needs teacher,1325376044,49.159047,-118.186462,0,0,1,1,1,40
2,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,Malad City,ID,83252,42.1808,-112.2620,...,Nature conservation officer,1325376051,43.150704,-112.154481,0,0,1,1,1,56
3,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,Boulder,MT,59632,46.2306,-112.1138,...,Patent attorney,1325376076,47.034331,-112.561071,0,0,1,1,1,52
4,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,M,Doe Hill,VA,24433,38.4207,-79.4629,...,Dance movement psychotherapist,1325376186,38.674999,-78.632459,0,0,1,1,1,32

In [78]:
print(data.columns)

Index(['cc_num', 'merchant', 'category', 'amt', 'gender', 'city', 'state',
       'zip', 'lat', 'long', 'city_pop', 'job', 'unix_time', 'merch_lat',
       'merch_long', 'is_fraud', 'trans_hour', 'trans_dayofweek',
       'trans_month', 'is_night', 'age '],
      dtype='object')

In [79]:
data.drop(columns = ['unix_time'],inplace = True)

In [80]:
len(data.columns)

20

In [81]:
low_card = ['category','gender','state']
data = pd.get_dummies(data,columns = low_card,drop_first = True)

In [82]:
X = data.drop('is_fraud',axis = 1)
y = data['is_fraud']

In [83]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=42
)

In [84]:
train_df = X_train.copy()
train_df['is_fraud'] = y_train

test_df = X_test.copy()
test_df['is_fraud'] = y_test

In [85]:
from sklearn.model_selection import KFold

def target_encode_kfold(
    train_df,
    test_df,
    col,
    target = 'is_fraud',
    n_splits = 5,
    smoothing = 10
):
    
    global_mean = train_df[target].mean()
    kf = KFold(n_splits = n_splits,shuffle = True,random_state = 42)
    
    train_encoded = pd.Series(index = train_df.index,dtype = float)
    
    for train_idx,val_idx in kf.split(train_df):
        X_tr = train_df.iloc[train_idx]
        X_val = train_df.iloc[val_idx]
        
        stats = X_tr.groupby(col)[target].agg(['mean','count'])
        
        smooth = (
            (stats['count'] * stats['mean'] + smoothing * global_mean) /
            (stats['count'] + smoothing)
        )
        
    train_encoded.fillna(global_mean, inplace=True)
    stats_full = train_df.groupby(col)[target].agg(['mean', 'count'])
    smooth_full = (
        (stats_full['count'] * stats_full['mean'] + smoothing * global_mean) /
        (stats_full['count'] + smoothing)
    )

    test_encoded = test_df[col].map(smooth_full)
    test_encoded.fillna(global_mean, inplace=True)

    return train_encoded, test_encoded

In [89]:
train_df['merchant_te'], test_df['merchant_te'] = target_encode_kfold(
    train_df=train_df,
    test_df=test_df,
    col='merchant',
    target='is_fraud',
    n_splits=5,
    smoothing=10
)

In [92]:
train_df.drop(columns=['merchant'], inplace=True)
test_df.drop(columns=['merchant'], inplace=True)

In [94]:
cols_to_targetencode = ['city','job']
for col in cols_to_targetencode:
    train_df[col + '_te'], test_df[col + '_te'] = target_encode_kfold(train_df, test_df, col)

In [97]:
train_df.drop(columns= cols_to_targetencode, inplace=True)
test_df.drop(columns= cols_to_targetencode, inplace=True)

In [98]:
train_df.columns

Index(['cc_num', 'amt', 'zip', 'lat', 'long', 'city_pop', 'merch_lat',
       'merch_long', 'trans_hour', 'trans_dayofweek', 'trans_month',
       'is_night', 'age ', 'category_food_dining', 'category_gas_transport',
       'category_grocery_net', 'category_grocery_pos',
       'category_health_fitness', 'category_home', 'category_kids_pets',
       'category_misc_net', 'category_misc_pos', 'category_personal_care',
       'category_shopping_net', 'category_shopping_pos', 'category_travel',
       'gender_M', 'state_AL', 'state_AR', 'state_AZ', 'state_CA', 'state_CO',
       'state_CT', 'state_DC', 'state_DE', 'state_FL', 'state_GA', 'state_HI',
       'state_IA', 'state_ID', 'state_IL', 'state_IN', 'state_KS', 'state_KY',
       'state_LA', 'state_MA', 'state_MD', 'state_ME', 'state_MI', 'state_MN',
       'state_MO', 'state_MS', 'state_MT', 'state_NC', 'state_ND', 'state_NE',
       'state_NH', 'state_NJ', 'state_NM', 'state_NV', 'state_NY', 'state_OH',
       'state_OK', 'state_OR', 'state_PA', 'state_RI', 'state_SC', 'state_SD',
       'state_TN', 'state_TX', 'state_UT', 'state_VA', 'state_VT', 'state_WA',
       'state_WI', 'state_WV', 'state_WY', 'is_fraud', 'merchant_te',
       'city_te', 'job_te'],
      dtype='object')

In [105]:
train_df.drop(columns = 'cc_num',inplace = True)

In [106]:
train_df.columns

Index(['amt', 'zip', 'lat', 'long', 'city_pop', 'merch_lat', 'merch_long',
       'trans_hour', 'trans_dayofweek', 'trans_month', 'is_night', 'age ',
       'category_food_dining', 'category_gas_transport',
       'category_grocery_net', 'category_grocery_pos',
       'category_health_fitness', 'category_home', 'category_kids_pets',
       'category_misc_net', 'category_misc_pos', 'category_personal_care',
       'category_shopping_net', 'category_shopping_pos', 'category_travel',
       'gender_M', 'state_AL', 'state_AR', 'state_AZ', 'state_CA', 'state_CO',
       'state_CT', 'state_DC', 'state_DE', 'state_FL', 'state_GA', 'state_HI',
       'state_IA', 'state_ID', 'state_IL', 'state_IN', 'state_KS', 'state_KY',
       'state_LA', 'state_MA', 'state_MD', 'state_ME', 'state_MI', 'state_MN',
       'state_MO', 'state_MS', 'state_MT', 'state_NC', 'state_ND', 'state_NE',
       'state_NH', 'state_NJ', 'state_NM', 'state_NV', 'state_NY', 'state_OH',
       'state_OK', 'state_OR', 'state_PA', 'state_RI', 'state_SC', 'state_SD',
       'state_TN', 'state_TX', 'state_UT', 'state_VA', 'state_VT', 'state_WA',
       'state_WI', 'state_WV', 'state_WY', 'is_fraud', 'merchant_te',
       'city_te', 'job_te'],
      dtype='object')

In [107]:
train_df['zip'].head()

509059    13647
395295    76665
536531    98238
271001    96135
532788    65066
Name: zip, dtype: int64

In [108]:
corr_train_df = train_df.corr()
corr_train_df

,amt,zip,lat,long,city_pop,merch_lat,merch_long,trans_hour,trans_dayofweek,trans_month,...,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,is_fraud,merchant_te,city_te,job_te
amt,1.000000,0.001303,-0.001722,0.000588,0.005999,-0.001659,0.000652,-0.022961,-0.001149,-0.001886,...,0.000405,0.006899,0.002775,-0.001339,0.000769,0.003792,0.224358,NaN,NaN,NaN
zip,0.001303,1.000000,-0.113822,-0.909664,0.079046,-0.113112,-0.908858,0.005495,-0.000864,0.001185,...,-0.144081,-0.154124,0.226176,0.029087,-0.122515,0.154355,-0.002574,NaN,NaN,NaN
lat,-0.001722,-0.113822,1.000000,-0.016478,-0.156735,0.993594,-0.016473,-0.011589,0.000080,-0.000585,...,-0.014919,0.103083,0.217859,0.165039,0.004209,0.094704,0.001332,NaN,NaN,NaN
long,0.000588,-0.909664,-0.016478,1.000000,-0.053169,-0.016343,0.999120,-0.001708,0.001158,-0.001827,...,0.131124,0.120628,-0.265108,0.009451,0.099255,-0.156393,0.002514,NaN,NaN,NaN
city_pop,0.005999,0.079046,-0.156735,-0.053169,1.000000,-0.155845,-0.053135,0.020274,0.002711,0.000224,...,-0.024700,-0.027193,-0.028650,-0.019384,-0.039256,-0.032150,0.002346,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
state_WY,0.003792,0.154355,0.094704,-0.156393,-0.032150,0.093995,-0.156302,0.005500,-0.000749,0.001088,...,-0.018660,-0.011773,-0.015009,-0.018741,-0.017445,1.000000,-0.000065,NaN,NaN,NaN
is_fraud,0.224358,-0.002574,0.001332,0.002514,0.002346,0.001196,0.002529,0.014876,0.001752,-0.012564,...,0.002151,0.000343,-0.001373,-0.000175,-0.000114,-0.000065,1.000000,NaN,NaN,NaN
merchant_te,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_te,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
job_te,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
train_df.drop(
    columns=['lat', 'long', 'merch_lat', 'merch_long'],
    inplace=True,
    errors='ignore'
)
test_df.drop(
    columns=['lat', 'long', 'merch_lat', 'merch_long'],
    inplace=True,
    errors='ignore'
)

In [110]:
train_df.drop(columns=['zip'], inplace=True, errors='ignore')
test_df.drop(columns=['zip'], inplace=True, errors='ignore')

In [111]:
X = train_df.drop(columns = ['is_fraud'])
y = train_df['is_fraud']

X_train,X_test,y_train,y_test = train_test_split(
    X,
    y,
    test_size = 0.2,
    stratify = y,
    random_state = 42
)

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(
    max_iter=1000,
    class_weight='balanced',
    n_jobs=-1
)

model.fit(X_train, y_train)